body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.footer {
  margin-top: auto;
}


/* LOGIN*/
.btn-login {
  background-color: #611232;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  width: 100px;
  margin-bottom: 50px;
}

.btn-login:hover {
  background-color: #611232;
}

.bg-login-blur {
  background-image: url("presentation/assets/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  /* desenfoque */
  height: 100%;
  height: 100%;
  width: 100%
}

.bg-login-overlay {
  position: relative;
  z-index: 1;
  /* el contenido ir치 encima del fondo */
}


.navbar-custom {
  background-color: #611232;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: #ffffff;
  font-weight: 500;
}

.navbar-custom:hover {
  color: #ffffff;
}

.footer-custom {
  background-color: #611232;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

/* REGISTER */
.bg-register {
  background-color: #611232;
  background-image: url('/assets/imagen-bienvenida.png');
  background-size: cover;
  /* la imagen ocupa todo */
  background-position: center;
  /* centrada */
  background-repeat: no-repeat;
}

/** .bg-register::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0,0,0,0.3);
} */

/** .bg-register::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); 
}
*/

.text-register {
  font-size: 2.5rem;
  font-weight: 700;
}

.form-scroll {
  overflow-y: auto;
  min-height: 0;
  padding: 10px;
}

@supports (scrollbar-gutter: stable) {
  .overflow-auto {
    scrollbar-gutter: stable;
  }
}

button.btn-danger {
  color: black;
  background-color: transparent !important;
  border: 1px solid black;
}

button.btn-danger:hover {
  background-color: #611232 !important;
}

/* Responsive: en m칩viles deja que toda la p치gina haga scroll normal 
@media (max-width: 767.98px) {
  main.vh-100 { height: auto; }        /* quita el layout fijo 
  .overflow-auto { overflow: visible; } /* scroll de p치gina completo 
} 
*/

/* HOME */
.home-bg {
  background-image: url('presentation/assets/imagen-bienvenida.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel {
  max-height: 400px;
  overflow: hidden;
  border-radius: 12px;
}

.carousel img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.btn-circle {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #611232;
  border: none;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-circle:hover {
  background-color: #9b1d50;
}

.circle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.circle-text {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  max-width: 200px;
  text-align: center;
  color: #333;
}

.home-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
}

.hero-text {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}


.btn-gob {
  background-color: #ddc9a3;
  border: none;
  color: #13322b;
  font-weight: bold;
  border-radius: 4px;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.btn-gob:hover {
  background-color: #c0a56b;
}

.platform-section {
  background-color: #ffffff;
  padding: 4rem 0;
}

.platform-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #13322b;
}

.option-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.2s ease;
}

.option-card:hover {
  transform: translateY(-5px);
}

.option-img {
  background-color: #eaeaea;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.campaigns-section {
  background-color: #f3f3f3;
}

.campaign-title {
  font-weight: 700;
  color: #9d2449;
  margin-bottom: 1rem;
}

.campaign-text {
  font-size: 1.1rem;
  color: #13322b;
}

.campaign-img {
  background-color: #ddc9a3;
  height: 250px;
  border-radius: 8px;
}

.mini-card {
  background-color: #e0e0e0;
  height: 150px;
  border-radius: 8px;
}